assets/*
!assets/.gitignore
protected/runtime/*
!protected/runtime/.gitignore
protected/data/*.db
themes/classic/views/

# PhpStorm
.idea

# Vagrant
.vagrant

# yii2-laradock testing
basic

# gigadb-website testing
gigadb-website
yii-1.1.16